<div class="bg-[#f0e9e0] py-8 text-center">
    <h1 class="text-6xl text-[#8c7a6b] mt-8 mb-24">ABOUT</h1>
</div>

<section class="m-20 flex flex-row">
    <div class="w-2/3 m-20">
        <h1 class="text-5xl my-2 tracking-widest text-[#5a1010]">Meet</h1>
        <h2 class="text-left text-black font-bold text-3xl">Nguyễn Thế Hùng</h2>
        <p class="text-xl my-10">
            Third-year student in University of Science, VNU-HCM, now learning in the Department of Software Engineering.
        </p>
        <div class="grid grid-cols-2 gap-4">
            <div class="flex flex-row">       
                <img class="size-9" src="img/experience.png" alt="Experience">
                <div class="mx-3">
                    <p class="text-2xl font-bold">Date of Birth</p>
                    <p class="texl-xl my-2">October 21, 2004</p>
                </div>
            </div>
            <div class="flex flex-row">
                <img class="size-9" src="img/awards.png" alt="Class">
                <div class="mx-3">
                    <p class="text-2xl font-bold">Class</p>
                    <p class="texl-xl my-2">22KTPM1</p>
                </div>
            </div>
            <div class="flex flex-row">
                <img class="size-9" src="img/future.png" alt="">
                <div class="mx-3">
                    <p class="text-2xl font-bold">Phone Number</p>
                    <p class="texl-xl my-2">0936211646</p>
                </div>
            </div>
            <div class="flex flex-row">
                <img class="size-9" src="img/passion.png" alt="Email">
                <div class="mx-3">
                    <p class="text-2xl font-bold">Email</p>
                    <p class="texl-xl my-2">hn21102004@gmail.com</p>
                </div>
            </div>     
            </div> 
    </div>
    <div class="w-1/3 m-20">
        <img src="img/22127136.jpg" alt="">
        <div class="flex flex-row justify-center">
            <img class="size-1/12 m-3" src="img/facebook.png" alt="facebook-link">
            <img class="size-1/12 m-3" src="img/twitter.png" alt="twitter-link">
            <img class="size-1/12 m-3" src="img/instagram.png" alt="instagram-link">
            <img class="size-1/12 m-3" src="img/youtube.png" alt="youtube-link">
        </div>
    </div>
</section>

<section class="m-20 flex flex-row">
    <div class="w-1/3 m-20">
        <img src="img/22127173.png" alt="">
        <div class="flex flex-row justify-center">
            <img class="size-1/12 m-3" src="img/facebook.png" alt="facebook-link">
            <img class="size-1/12 m-3" src="img/twitter.png" alt="twitter-link">
            <img class="size-1/12 m-3" src="img/instagram.png" alt="instagram-link">
            <img class="size-1/12 m-3" src="img/youtube.png" alt="youtube-link">
        </div>
    </div>
    <div class="w-2/3 m-20">
        <h1 class="text-5xl my-2 tracking-widest text-[#5a1010]">Meet</h1>
        <h2 class="text-left text-black font-bold text-3xl">Hoàng Văn Khải</h2>
        <p class="text-xl my-10">
            Third-year student in University of Science, VNU-HCM, now learning in the Department of Software Engineering.
        </p>
        <div class="grid grid-cols-2 gap-4">
            <div class="flex flex-row">       
                <img class="size-9" src="img/experience.png" alt="Experience">
                <div class="mx-3">
                    <p class="text-2xl font-bold">Date of Birth</p>
                    <p class="texl-xl my-2">December 3rd, 2004</p>
                </div>
            </div>
            <div class="flex flex-row">
                <img class="size-9" src="img/awards.png" alt="Awards">
                <div class="mx-3">
                    <p class="text-2xl font-bold">Class</p>
                    <p class="texl-xl my-2">22KTPM1</p>
                </div>
            </div>
            <div class="flex flex-row">
                <img class="size-9" src="img/future.png" alt="Future">
                <div class="mx-3">
                    <p class="text-2xl font-bold">Phone Number</p>
                    <p class="texl-xl my-2">0399 187 513</p>
                </div>
            </div>
            <div class="flex flex-row">
                <img class="size-9" src="img/passion.png" alt="Passion">
                <div class="mx-3">
                    <p class="text-2xl font-bold">Email</p>
                    <p class="texl-xl my-2">hoangkhai3122004@gmail.com</p>
                </div>
            </div>     
            </div> 
    </div>
</section>

<section class="m-20 flex flex-row">
    <div class="w-2/3 m-20">
        <h1 class="text-5xl my-2 tracking-widest text-[#5a1010]">Meet</h1>
        <h2 class="text-left text-black font-bold text-3xl">Hồ Tiến Phát</h2>
        <p class="text-xl my-10">
            Third-year student in University of Science, VNU-HCM, now learning in the Department of Software Engineering.
        </p>
        <div class="grid grid-cols-2 gap-4">
            <div class="flex flex-row">       
                <img class="size-9" src="img/experience.png" alt="Experience">
                <div class="mx-3">
                    <p class="text-2xl font-bold">Date of Birth</p>
                    <p class="texl-xl my-2">August 1, 2004</p>
                </div>
            </div>
            <div class="flex flex-row">
                <img class="size-9" src="img/awards.png" alt="Awards">
                <div class="mx-3">
                    <p class="text-2xl font-bold">Class</p>
                    <p class="texl-xl my-2">22KTPM1</p>
                </div>
            </div>
            <div class="flex flex-row">
                <img class="size-9" src="img/future.png" alt="Future">
                <div class="mx-3">
                    <p class="text-2xl font-bold">Phone Number</p>
                    <p class="texl-xl my-2">0919835255</p>
                </div>
            </div>
            <div class="flex flex-row">
                <img class="size-9" src="img/passion.png" alt="Passion">
                <div class="mx-3">
                    <p class="text-2xl font-bold">Email</p>
                    <p class="texl-xl my-2">phatk222@gmail.com</p>
                </div>
            </div>     
            </div> 
    </div>
    <div class="w-1/3 m-20">
        <img src="img/22127321.jpg" alt="">
        <div class="flex flex-row justify-center">
            <img class="size-1/12 m-3" src="img/facebook.png" alt="facebook-link">
            <img class="size-1/12 m-3" src="img/twitter.png" alt="twitter-link">
            <img class="size-1/12 m-3" src="img/instagram.png" alt="instagram-link">
            <img class="size-1/12 m-3" src="img/youtube.png" alt="youtube-link">
        </div>
    </div>
</section>

<section class="flex flex-row m-20">
    <img class="path_pic" src="img/ourpath.png" alt="img/outpath.png">
    <div>
        <div class="flex flex-col text-center items-center">
            <img class="size-fit my-5" src="img/rainbow.png">
            <h2 class="text-5xl text-[#5a1010]">HISTORY</h2>
            <h3 class="text-3xl my-5">- Where it all began -</h3>
        </div>
        
        <div class="flex flex-row justify-center my-10">
            <img class="" src="img/start.png">
            <div class="mx-3">
                <h2 class="text-3xl text-[#5a1010]">Not so long ago...</h2>
                <p class="text-xl">
                    We are a group in the subject Web Application Development. This project has begun for 1 month and we created
                    this group to provide our service to the customer
                </p>
            </div>
        </div>
        <div class="flex flex-row justify-center my-10">
            <div class="mx-3">
                <h2 class="text-3xl text-[#5a1010]">Then we evolved...</h2>
                <p class="text-xl">
                    We are trying our best to make this web even better and provide more service and improve the customers' experience
                </p>
            </div>
            <img class="" src="img/start.png"> 
        </div>
    </div>
</section>