<div class="bg-[#f0e9e0] py-8 text-center">
    <h1 class="text-6xl text-[#8c7a6b] mt-8 mb-24">CONTACT</h1>
</div>

<section class="flex flex-row m-20">
    <div class="w-1/2 ml-10">
        <h2 class="text-4xl text-[#5a1010] font-bold">EMAIL</h2>
        <h2 class="text-2xl my-3 text-black">Let's chat</h2>
        <div class="flex flex-row">
            <input class="border border-gray-500 px-3 py-2 rounded-full w-1/2 my-3 mr-1 ml" type="text" placeholder="Name">
            <input class="border border-gray-500 px-3 py-2 rounded-full w-1/2 my-3 ml-1" type="text" placeholder="Email">
        </div>
        
        <input class="border border-gray-500 px-3 py-2 rounded-full w-full my-3" type="number" placeholder="Phone">
        <textarea class="w-full h-24 px-3 py-2 rounded-2xl border border-gray-800 resize-none my-6" placeholder="Message"></textarea>
        <button class="text-white bg-orange-900 py-2 px-12 hover:bg-orange-800 rounded-full ">SEND</button>
    </div>
    <div class="w-1/2 mx-10">
        <div class="texl-4xl text-orange-700 mb-6">CONTACT INFO</div>

        <div class="flex flex-row">
            <img class="scale-75" src="img/phone.png">
            <p class="text-xl mx-2">1900 500 888</p>
        </div>

        <div class="flex flex-row">
            <img class="scale-75" src="img/email.png">
            <p class="text-xl mx-2">info@group136173321.com</p>
        </div>
            
        <div class="flex flex-row">
            <img class="scale-75" src="img/address.png">
            <p class="text-xl mx-2">227 Nguyen Van Cu, District 5, HCM City</p>
        </div>
            
        <div class="texl-4xl text-orange-700 my-6">OPENING HOURS</div>    
        
        <div class="flex flex-row">
            <img class="scale-75" src="img/clock.png">
            <p class="text-xl mx-2">Monday - Friday: 8am to 5:30pm</p>
        </div>

        <div class="flex flex-row">
            <img class="scale-75" src="img/clock.png"> 
            <p class="text-xl mx-2">Weekends: 9am to 1pm</p>
        </div>
        
        <div class="texl-4xl text-orange-700 my-6">LET'S GET SOCIAL</div>
        <div class="flex flex-row justify-left">
            <img class="size-1/12 mr-3" src="img/facebook.png" alt="facebook-link">
            <img class="size-1/12 mx-3" src="img/twitter.png" alt="twitter-link">
            <img class="size-1/12 mx-3" src="img/instagram.png" alt="instagram-link">
            <img class="size-1/12 mx-3" src="img/youtube.png" alt="youtube-link">
        </div>
    </div>
</section>