<h1 class="font-bold text-gray-600 text-9xl text-center mt-20">{{error.status}}</h1>
<h2 class="font-medium text-black text-5xl text-center my-10">{{error.message}}</h2>
{{!-- <h2>{{error.status}}</h2> --}}
{{!-- <pre>{{error.stack}}</pre> --}}
